$color-primary: #18122B;
$color-secondary: #8362F0;

$color-hover-1: #2A1F4C;
$color-hover-2: #5B44A8;
$color-hover-3: #3C2D6D;


$color-white: #fff;
$color-content-1: #E8E8E8;
$color-content-2:  #BABABA;
$color-content-3: #767676;
$color-content-4: #F5FAFE;
$color-icons: #4D4D4D;
$color-border: #313131;
$color-background-1: #1C1C1C;
$color-background-2: #1A1A1A;


$color-info: #16B1FF;
$color-success: #56CA00;
$color-warning: #FFB400;
$color-error: #FF4C51;
