* {
    scroll-behavior: smooth;
}

html {
    --line-color: #fff;
}

body {
    background-color: $color-primary;
}


.bg-round {
    background-color: $color-white;
}

.color-primary {
    color: $color-primary;
}

.color-secondary {
    color: $color-secondary;
}

.color-white {
    color: $color-white;
}

.color-content-1 {
    color: $color-content-1;
}

.color-content-2 {
    color: $color-content-2;
}

.color-content-3 {
    color: $color-content-3;
}

.color-content-4 {
    color: $color-content-4;
}

.color-icons {
    color: $color-icons;
}

.color-border {
    color: $color-border;
}

.color-background-1 {
    background: $color-background-1;
}

.color-background-2 {
    background: $color-background-2;
}

.color-info {
    color: $color-info;
}

.color-success {
    color: $color-success;
}

.color-warning {
    color: $color-warning;
}

.color-error {
    color: $color-error;
}

.hash-span {
    margin-top: -250px;
    padding-bottom: 250px;
    display: block;
}

.header-icon{
    color: $color-white;
    transition: .2s all; 
    width: 48px;
    height: 48px;

    &:hover{
        color: $color-secondary;
        cursor: pointer;
    }
    &:active{
        color: $color-hover-1;
        width: 44px;
        height: 44px;
    }
}