.section-hero::before {
    content: '';
    position: fixed;
    background-image: url(../imgs/template/hero.png);
    background-repeat: no-repeat;
    background-position: top right;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.section-skills::before {
    content: '';
    position: fixed;
    background-image: url(../imgs/template/skills.png);
    background-repeat: no-repeat;
    background-position: top left;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


.section-hero {

    .card {
        &-details {
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 6px;
                border-radius: 9999px;
                background-color: $color-secondary;
                top: 0px;
                left: 0;
                transform-origin: right;
                transform: scaleX(1);
            }

            h4 {
                color: $color-white;
            }
        }
    }
}

.section-about {
    .w-158 {
        width: 635px;
    }
}


.section-skills {
    .skills {
        &-item {
            position: relative;

            img {
                @include absCenter;
            }
        }
    }
}

.section-services {
    .primary-secondary-gradient {
        background: hsla(254, 83%, 66%, 1);

        background: linear-gradient(135deg, hsla(254, 83%, 66%, 1) 27%, hsla(254, 42%, 39%, 1) 92%);
        
        background: -moz-linear-gradient(135deg, hsla(254, 83%, 66%, 1) 27%, hsla(254, 42%, 39%, 1) 92%);
        
        background: -webkit-linear-gradient(135deg, hsla(254, 83%, 66%, 1) 27%, hsla(254, 42%, 39%, 1) 92%);
        .service-item {
            background-color: $color-background-1;
        }
    }
}



.section-contact{
    .primary-secondary-gradient {
        background: hsla(254, 83%, 66%, 1);

        background: linear-gradient(135deg, hsla(254, 83%, 66%, 1) 27%, hsla(254, 42%, 39%, 1) 92%);
        
        background: -moz-linear-gradient(135deg, hsla(254, 83%, 66%, 1) 27%, hsla(254, 42%, 39%, 1) 92%);
        
        background: -webkit-linear-gradient(135deg, hsla(254, 83%, 66%, 1) 27%, hsla(254, 42%, 39%, 1) 92%);
        .item {
            background-color: $color-background-1;
        }
    }
}